@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100&family=Quicksand:wght@400;500;600;700&display=swap');

img {
  margin: 3px;
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90vh;

}

.home-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.home-desc h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #202020;
  margin-bottom: 20px;
  font-family: "Abril Fatface", serif
}

.home-desc h1 span {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Abril Fatface", serif
}


.home-desc .img-container {
  margin-top: 20px;
  width: 100%;
  max-width: 450px;
  height: auto;
  position: relative;
  overflow: hidden;


}

.home-desc .img-container img {
  width: 100%;
  height: auto;
}