.student-header {
    margin-top: 20px;
    position: relative;
    padding: 20px;
    background-color: #f5f5f5;
    /* light gray */
    border-bottom: 1px solid #e0e0e0;
    /* darker gray */
}

.st-background {
    background-size: cover;
    backdrop-filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url("../assets/background.jpg"); */
    background: linear-gradient(to right, #f5f5f5, #cdacff, #6716e1);

    height: 300px;
    width: 100vw;

    position: relative;
}

.st-details {
    background-color: rgba(255, 255, 255, 0.597);
    backdrop-filter: blur(10px);
    height: 140px;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.user-image-container {
    width: 200px;
    height: 200px;

    margin-bottom: 20px;

    position: absolute;
    top: -50px;
    left: 50px;
    z-index: 1000;
    text-align: center;
    margin-left: 50px;
}

.user-image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #6716e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}






.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;




}

.details * {
    font-family: 'Roboto', sans-serif;
    color: #6716e1;
    letter-spacing: 2px;
    text-transform: capitalize;



}

.details .detail-item span {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: dashed;
    color: #212121;
    text-shadow: 0 0 5px rgba(34, 34, 34, 0.158);
}

.details .detail-item b {
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(126, 39, 193, 0.207);
}


span {
    font-size: 1.5rem;
    font-weight: bold;
}

b {
    font-size: 1.6rem;
    font-weight: bold;
}

.tabs {
    width: calc(100vw / 4);
}

.personal-details {
    padding: 20px;

    border-radius: 5px;
}

.personal-details table {
    border: 1px solid #ddd;
}

.personal-item {
    border-bottom: 1px solid #ddd;
}

.personal-item th {
    text-align: left;
    padding: 10px;
    color: #634dd1;
    text-transform: uppercase;
}

.personal-item td {
    padding: 10px;
    font-weight: bold;
}