form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

/* Style the label as a button */
.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #634dd1;
    /* Change as needed */
    color: white;
    /* Change as needed */
    border-radius: 5px;
    cursor: pointer;
}